<html>
<head>
<title>activity_main3.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
.s4 { color: #56a8f5;}
.s5 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main3.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/main&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;ScrollView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;-16dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;37dp&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;ImageButton</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageButton2&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">app:srcCompat</span><span class="s2">=&quot;@android:drawable/ic_menu_revert&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;236dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;80dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;บทเรียนที่ 3 ตัวดำเนินการ&quot;</span>
                <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;34sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>


            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;20dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;ตัวดำเนินการในภาษา Java&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;3dp&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;String concatenating operator (+) 
String concatenating operator หรือเครื่องหมายในการเชื่อมต่อ String จะใช้สำหรับต่อ String เป็น String เดียวกัน ตัวแปรแบบ String นั้นเป็นคลาสที่สร้างมาเพื่อสนับสนุนการเขียนโปรแกรมในภาษา Java เพื่อให้ง่ายขึ้น โดยเราใช้เครื่องหมาย + เมื่อใช้กับ String นั่นหมายถึงเป็นการนำมาต่อกัน 
เมื่อคุณนำ String ไปต่อกับตัวเลขโดยใช้เครื่องหมาย concatenating จะให้ตัวเลขนั้นกลายเป็น String คุณได้เห็นว่าเราได้ใช้งานมันไปบ้างแล้วจากบทเรียนก่อนหน้า ต่อไปมาดูตัวอย่างการใช้เครื่องหมาย String concatenating&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;3dp&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;\nAssignment operator 
Assignment operator (ตัวดำเนินการกำหนดค่า) เป็นตัวดำเนินการที่ให้กับหนดค่าให้กับตัวแปร จาก Literal หรือ Expression โดยใช้เครื่องหมายเท่ากับ (=) ตัวอย่างการใช้งานตัวดำเนินการกำหนดค่าเป็นดังนี้&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;3dp&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;\nArithmetic operators 
Arithmetic operators (ตัวดำเนินการทางคณิตศาสตร์) เป็นตัวนำเนินการที่เกิดจาก Operand และ Operator ตั้งแต่ 1 ตัวขึ้นไปมาคำนวณเพื่อให้ได้ผลลัพธ์ใหม่ มันทำงานร่วมกับตัวดำเนินการกำหนดค่า (=) โดยตัวดำเนินการมี 5 แบบได้แก่ + - * / %&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;3dp&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;\nCompound assignment 
Compound assignment ถูกใช้เพื่ออัพเดทค่าของตัวแปรจากค่าเดิมของมันที่มีอยู่ โดยมันจะเป็นรูปแบบย่อของตัวดำเนินการแบบ Arithmetic Operator และตัวดำเนินการ Bitwise operators เพื่อให้เขียนได้รวดเร็วและลดความผิดพลาดในการเขียนโปรแกรมได้มากกว่า 
Operator    Example Equivalent to 
+=  -=  *=  /=  %=  &gt;&gt;= &lt;&lt;= </span><span class="s4">&amp;amp;</span><span class="s2">=  ^=  |=  &quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;3dp&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;\nIncrement and decrement 
ตัวดำเนินการต่อไปที่ใช้บ่อยในการเขียนโปรแกรมก็คือ Increment Operator (ตัวดำเนินการเพิ่มค่า) และ Decrement Operator (ตัวดำเนินการลดค่า) มันถูกใช้เพื่อเพิ่มหรือลดค่าของตัวแปรครั้งละ 1 โดยแบ่งออกได้เป็นดังนี้ ++(prefix) ++(postfix) --(prefix) --(postfix)&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;3dp&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;\nRelational and comparison operators 
Relational and comparison operators (ตัวดำเนินการเปรียบเทียบ) ใช้สำหรับเปรียบเทียบข้อมูล โดยการสร้าง expression ขึ้นมา ค่าที่ได้จากการเปรียบเทียบจากตัวดำเนินการเหล่านี้จะเป็น Boolean Value (true or false) มันมักจะใช้กับคำสั่งเปรียบเทียบเช่น if while do-while for เพื่อสร้างเงื่อนไขบางอย่าง 
==  a == b  true if `a` equal to `b`, otherwise false 
!=  a != b  true if `a` not equal to `b`, otherwise false 
&lt;   a &lt; b   true if `a` less than `b`, otherwise false 
&gt;   a &gt; b   true if `a` greater than `b`, otherwise false 
&lt;=  a &lt;= b  true if `a` less than or equal to `b`, otherwise false 
&gt;=  a &gt;= b  true if `a` greater than or equal to `b`, otherwise false&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;3dp&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;\nLogical operators 
Logical operators (ตัวดำเนินการตรรกศาสตร์) เป็นตัวดำเนินการที่ใช้สำหรับ expression ตั้งแต่หนึ่ง expression ขึ้นไป โดยตัวดำเนินการตรรกศาสตร์ในภาษา Java มีดังนี้ 
!   Not ! true 
</span><span class="s4">&amp;amp;&amp;amp;	</span><span class="s2">And   true </span><span class="s4">&amp;amp;&amp;amp; </span><span class="s2">true 
||  Or  true || false&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;3dp&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;\nBitwise operators 
Bitwise operators (ตัวดำเนินการระดับบิต) จะดำเนินการกับในรูปแบบของหนึ่งบิตหรือมากกว่า หรือในตัวเลขฐานสอง โดยการนำคู่ของบิตแต่ละตัวมาคำนวณโดยการใช้หลักการของตัวดำเนินการทางคณิตศาสตร์ 
</span><span class="s4">&amp;amp;	</span><span class="s2">Bitwise AND 
|   Bitwise inclusive OR 
^   Bitwise exclusive OR 
~   bit inversion 
&lt;&lt;  Shift bits left 
&gt;&gt;  Shift bits right&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot; </span><span class="s0">/&gt;</span>



            <span class="s5">&lt;!-- เพิ่มข้อความชนิดข้อมูลอื่นๆ ตามต้องการ --&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;/ScrollView&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/button&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;248dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;76dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;81dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;ทำแบบทดสอบ&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
</pre>
</body>
</html>